string based assingment problem

In [1]:
# Write a program to reverse a string.

input_string = input("Enetr a string")
reverse_string = ""
reverse_string += input_string[::-1]
print(reverse_string)

Enetr a string Rahul

luhaR

In [2]:
# Check if a string is a palindrome.


input_string = input("Enter a string")

cleaned_string = input_string.replace(" ", "").lower()

reversed_string = cleaned_string[::-1]
if cleaned_string == reversed_string:
        print("The input string is pallindrome")
        
else:
            print("The input string is not pallindrome")

Enter a string Umar

The input string is not pallindrome

In [3]:
# Convert a string to uppercase.

input_string = input("Enter a string;-")

uppercase_string = input_string.upper()

print("uppercase string;-",uppercase_string)

Enter a string;- umar

uppercase string;- UMAR

In [4]:
# Convert a string to lowercase.

input_string = input("Enter a string;-")

lowercase_string = input_string.lower()

print("lowercase string;-",lowercase_string)

Enter a string;- UMAR

lowercase string;- umar

In [18]:
# Coiquet the number of vowels in a string.

input_a = input("enter a string")

count_vowel = 0
vowels = set("aeiouAEIOU")

for char in input_a :
    if char in vowels:
        count_vowel += 1
print(count_vowel)

enter a string umar

2

In [6]:
# Count the number of consonants in a string.


input_c = input("enter a string")

count_consonant = 0

consonant = "qwrtyplkjhgfdszxcbnm"

for char in input_c:
    if char in consonant:
        count_consonant += 1
print(count_consonant)

enter a string hi humar

4

In [7]:
# Remove all whitespaces from a string.


input_string = input("enetr a string")

whitespace = ""

for char in input_string:
    if char != " ":
        whitespace += char
print(whitespace)

enetr a string hi umar

hiumar

In [9]:
# Find the length of a string without using the `len()` function.

input_string = input("enter a string:")

count = 0

for char in input_string:
    count += 1
print(count)

enter a string: umar

4

In [10]:
# Check if a string contains a specific word.

input_string = input("enter a string")
specific_word = input("enetr a specific word")

if specific_word in input_string:
    print(specific_word)
else:
    print("it's not aspecific word")

enter a string umar javed
enetr a specific word umar

umar

In [11]:
# Replace a word in a string with another word.

input_string = input("enetr a string: ")

old_string = input("enetr a old string which you have to replace: ")

new_string = input("enetr a new string")

modified_string = input_string.replace(old_string,new_string)

print("modified string: ",modified_string)

enetr a string:  umar
enetr a old string which you have to replace:  umar
enetr a new string javed

modified string:  javed

In [12]:
# Count the occurrences of a word in a string.

input_string = "hello umar javed"

target_word = "umar"

count = 0

words = input_string.split()

for word in words:
    if word == target_word:
        count += 1
print(count)

1

In [13]:
# Find the first occurrence of a word in a string.

input_string = "Hello umar javed and rahul kumar"

target_word = "umar"

index = input_string.find(target_word)

if index == -1:
    print("Null")
    
else:
    print(index)

6

In [14]:
# Find the last occurrence of a word in a string.

input_string ="This is an example sentence. This sentence also contains the word example."

target_word = "example"

index = input_string.rfind(target_word)

if index == -1:
    print("Null")
    
else:
    print(index)

66

In [15]:
# Split a string into a list of words.

input_string = input("Enter a string")

words = input_string.split()

print(words)

Enter a string hi rahul and umar

['hi', 'rahul', 'and', 'umar']

In [25]:
# Join a list of words into a string.

input_string =["Hi","Rahul","and","Umar"]
print(" ".join(input_string))

Hi Rahul and Umar

In [42]:
''' Convert a string where words are separated by spaces to one where words
 are separated by underscores.'''

input_string = "Hi Umar javed and Rahul kumar"
input_string.replace(" ","_")

'Hi_Umar_javed_and_Rahul_kumar'

In [44]:
# Check if a string starts with a specific word or phrase.

input_string = "umar javed and rahul kumar are freind"

print(input_string.startswith('umar'))

True

In [46]:
# Check if a string ends with a specific word or phrase.

input_string = "umar javed and rahul kumar are freind"

print(input_string.endswith('umar'))

False

In [48]:
# Convert a string to title case (e.g., "hello world" to "Hello World").

input_string = "umar javed and rahul kumar are freind"

print(input_string.title())

Umar Javed And Rahul Kumar Are Freind

In [66]:
# Find the longest word in a string.

input_string = input("Enter a string: ")

longest_word = max(input_string.split(), key = len)

print("longest_word is: ",longest_word)
print("length_of_longest_word is: ",len(longest_word))

Enter a string:  umar javed

longest_word is:  javed
length_of_longest_word is:  5

In [74]:
# Find the shortest word in a string.

input_string = input("Enter a string: ")

shortest_word = min(input_string.split(), key = len)

print("shortest_word is: ",shortest_word)
print("length_of_shortest_word is: ",len(shortest_word))

Enter a string:  hi umar javed

shortest_word is:  hi
length_of_shortest_word is:  2

In [81]:
# Reverse the order of words in a string.

input_string = input("Enetr a string")

reverse_string = input_string.split()

reverse_string = list(reversed(reverse_string))

print(" ".join(reverse_string))

Enetr a string umar javed

javed umar

In [91]:
# Check if a string is alphanumeric.

input_string = input("Enter a string")

print(input_string.isalnum())

Enter a string umar123

True

In [5]:
# Extract all digits from a string.

input_string = input("Enter a string")
digits = ""
for char in input_string:
    if char.isdigit():
        digits += char
print(digits)

Enter a string umar 1 rahul 2 urvesh 3

123

In [7]:
# Extract all alphabets from a string.

input_string = input("Enter a string: ")
chars = ""
for char in input_string:
    if char.isalpha():
        chars += char
print(chars)

Enter a string:  umar 123

umar

In [ ]:
#  Count the number of uppercase letters in a string.

input_string = input("Enter a string")
upper_case = 0
for char in input_string:
    if char.isupper():
        upper_case += 1
print(upper_case)

Enter a string UMAR javed

4

In [38]:
# count the number of uppercase letters in a string.

input_string = input("Enter a string")
lower_case = 0
for char in input_string:
    if char.islower():
        lower_case += 1
print(lower_case)

Enter a string Umar Javed

7

In [41]:
#  Swap the case of each character in a string.
input_string = input("Enter a string")

swape_string= input_string.swapcase()

print(swape_string)

Enter a string UMAR javed

umar JAVED

In [48]:
# Remove a specific word from a string.

input_string = "umar javed"
new_string = input_string.replace('u',' ')
print(new_string)

 mar javed

In [1]:
# check if a string is a valid email address

def is_valid_email(email):
    if "@" in email:
        return True
    else:
        return False

# Test the function
email = "example@email.com"
if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

example@email.com is a valid email address.

In [2]:
intput_string = input("Enetr a email id: ")
if "@" in email:
    print("This is valid email address")
else:
    print("Not valid")

Enetr a email id:  umarjavedaiml21@gmail.com

This is valid email address

In [7]:
# Extract the username from an email address string.

input_string = input("Enetr a email id: ")

username = input_string.split('@')[0]

print("user name: ",username)

Enetr a email id:  umarjavedaiml21@gmail.co

user name:  umarjavedaiml21

In [9]:
# Extract the domain name from an email address string

input_email = input("Enetr a email id")

domain = input_email.split("@")[1]

print("Domain:",domain)

Enetr a email id umarjavedaiml21@gmail.com

Domain: gmail.com

In [12]:
# Replace multiple spaces in a string with a single space.

input_string = input("Enetr a string")

new_string = " ".join(input_string.split())

print(new_string)

Enetr a string umar   javed

umar javed

In [20]:
# Check if a string is a valid URL

import urllib.parse

url_to_check = input("Enter a URL to check: ")

try:
    urllib.parse.urlparse(url_to_check)
    print("Valid URL")
except ValueError:
    print("Invalid URL")

Enter a URL to check:  https://yellow-engineer-orkzl.pwskills.app/lab/tree/work

Valid URL

In [21]:
# Extract the protocol (http or https) from a URL string.

url = input("Enter a URL: ")

parts = url.split("://")

if len(parts) == 2:
    protocol = parts[0]
    print("Protocol:", protocol)
else:
    print("Invalid URL format. Please include '://' in the URL.")

Enter a URL:  https://yellow-engineer-orkzl.pwskills.app/lab/tree/work

Protocol: https

In [37]:
# Find the frequency of each character in a string.


input_string = input("Enter a string")

frequency = {}

for char in input_string:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1
for char, count in frequency.items():
    print(f"'{char}': {count}")

Enter a string umar javed how are you

'u': 2
'm': 1
'a': 3
'r': 2
' ': 4
'j': 1
'v': 1
'e': 2
'd': 1
'h': 1
'o': 2
'w': 1
'y': 1

In [22]:
# Remove all punctuation from a string.

import string

input_string = "Hello, World! This is a test string."

translator = str.maketrans('', '', string.punctuation)

cleaned_string = input_string.translate(translator)

print("Original string:", input_string)
print("String with punctuation removed:", cleaned_string)

Original string: Hello, World! This is a test string.
String with punctuation removed: Hello World This is a test string

In [41]:
# Check if a string contains only digits.

input_string = input("Enter a string")

if input_string.isdigit():
    print("True")
else:
    print("False")

Enter a string 123

True

In [43]:
#  Check if a string contains only alphabets.

input_string = input("Enter a string")

if input_string.isalpha():
    print("True")
else:
    print("False")

Enter a string umar

True

In [44]:
# Convert a string to a list of characters.

input_string = input("Enter astring")

new_string = list(input_string)

print(new_string)

Enter astring umar javed

['u', 'm', 'a', 'r', ' ', 'j', 'a', 'v', 'e', 'd']

In [23]:
 # Check if two strings are anagrams.
    
str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")

str1 = str1.replace(" ", "").lower()
str2 = str2.replace(" ", "").lower()

if sorted(str1) == sorted(str2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

Enter the first string:  umar
Enter the second string:  javed

The strings are not anagrams.

In [25]:
#  Encode a string using a Caesar cipher.

# Input the text to encrypt
text = input("Enter the text to encrypt: ")

# Input the Caesar cipher shift (an integer)
shift = int(input("Enter the Caesar cipher shift (an integer): "))

# Initialize an empty string for the encrypted text
encrypted_text = ""

# Iterate through each character in the input text
for char in text:
    if char.isalpha():  # Check if the character is alphabetic
        is_upper = char.isupper()  # Check if the character is uppercase

        # Convert the character to uppercase for consistent shifting
        char = char.upper()

        # Apply the Caesar cipher shift
        shifted_char = chr(((ord(char) - 65 + shift) % 26) + 65)

        # Convert the shifted character back to lowercase if needed
        if not is_upper:
            shifted_char = shifted_char.lower()

        encrypted_text += shifted_char  # Add the shifted character to the encrypted text
    else:
        # Non-alphabetic characters remain unchanged
        encrypted_text += char

# Print the encrypted text
print("Encrypted text:", encrypted_text)

Enter the text to encrypt:  uyma
Enter the Caesar cipher shift (an integer):  2

Encrypted text: waoc

In [26]:
# Decode a Caesar cipher encoded string.

# Input the encoded text
encoded_text = input("Enter the encoded text to decode: ")

# Input the Caesar cipher shift (an integer)
shift = int(input("Enter the Caesar cipher shift used for encoding (an integer): "))

# Initialize an empty string for the decoded text
decoded_text = ""

# Iterate through each character in the encoded text
for char in encoded_text:
    if char.isalpha():  # Check if the character is alphabetic
        is_upper = char.isupper()  # Check if the character is uppercase

        # Convert the character to uppercase for consistent shifting
        char = char.upper()

        # Apply the Caesar cipher reverse shift
        reversed_char = chr(((ord(char) - 65 - shift) % 26) + 65)

        # Convert the reversed character back to lowercase if needed
        if not is_upper:
            reversed_char = reversed_char.lower()

        decoded_text += reversed_char  # Add the reversed character to the decoded text
    else:
        # Non-alphabetic characters remain unchanged
        decoded_text += char

# Print the decoded text
print("Decoded text:", decoded_text)

Enter the encoded text to decode:  umar
Enter the Caesar cipher shift used for encoding (an integer):  2

Decoded text: skyp

In [29]:
# Find all unique words in a string.

# Input a string
input_string = input("Enter a string: ")

# Remove punctuation and convert to lowercase for case-insensitive comparison
input_string = input_string.lower()
input_string = ''.join([char for char in input_string if char.isalnum() or char.isspace()])

# Split the string into words
words = input_string.split()

# Create a set to store unique words
unique_words = set()

# Add words to the set
for word in words:
    unique_words.add(word)

# Print the unique words
print("Unique words:", unique_words)

Enter a string:  umar javed

Unique words: {'javed', 'umar'}

In [30]:
# Count the number of syllables in a string.

# Input a string
input_string = input("Enter a string: ")

# Remove punctuation and convert to lowercase for consistent counting
input_string = input_string.lower()
input_string = ''.join([char for char in input_string if char.isalnum() or char.isspace()])

# Split the string into words
words = input_string.split()

# Initialize the total syllable count
total_syllables = 0

# Define a set of vowels
vowels = {'a', 'e', 'i', 'o', 'u'}

# Iterate through each word and count syllables
for word in words:
    # Initialize the syllable count and flag to track if a vowel has been encountered
    syllable_count = 0
    prev_char_was_vowel = False

    for char in word:
        if char in vowels:
            # If a vowel is encountered, increment the syllable count
            if not prev_char_was_vowel:
                syllable_count += 1
            prev_char_was_vowel = True
        else:
            prev_char_was_vowel = False

    # Adjust the count for some common patterns
    if word.endswith('e'):
        syllable_count -= 1
    if word.endswith('le'):
        syllable_count += 1

    # Ensure there is at least one syllable for short words
    if syllable_count == 0:
        syllable_count = 1

    # Add the syllable count for the current word to the total count
    total_syllables += syllable_count

# Print the total syllable count
print("Total syllables:", total_syllables)

Enter a string:  umar

Total syllables: 2

In [32]:
# Check if a string contains any special characters.

import re

# Input a string
input_string = input("Enter a string: ")

# Define a regular expression pattern to match special characters
special_char_pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/\-=|\'"\\]')

# Search for special characters in the input string
if special_char_pattern.search(input_string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

Enter a string:  umar#

The string contains special characters.

In [35]:
# Remove the nth word from a string.

# Input a string
input_string = input("Enter a string: ")

# Input the index (n) of the word to remove
n = int(input("Enter the index (1-based) of the word to remove: "))

# Split the string into words
words = input_string.split()

# Check if the index is valid
if 1 <= n <= len(words):
    # Remove the nth word
    del words[n - 1]

    # Rejoin the words into a string
    result_string = ' '.join(words)

    print("Modified string:", result_string)
else:
    print("Invalid index. Please enter a valid index.")

Enter a string:  umar
Enter the index (1-based) of the word to remove:  1

Modified string:

In [27]:
# Find the most frequent word in a string.

# Input a string
input_string = input("Enter a string: ")

# Remove punctuation and convert to lowercase for case-insensitive comparison
input_string = input_string.lower()
input_string = ''.join([char for char in input_string if char.isalnum() or char.isspace()])

# Split the string into words
words = input_string.split()

# Initialize a dictionary to store word frequencies
word_frequency = {}

# Count the frequency of each word
for word in words:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

# Find the most frequent word
most_frequent_word = max(word_frequency, key=word_frequency.get)

# Print the most frequent word and its frequency
print("Most frequent word:", most_frequent_word)
print("Frequency:", word_frequency[most_frequent_word])

Enter a string:  umar

Most frequent word: umar
Frequency: 1

In [2]:
# Insert a word at the nth position in a string.

# Input a string
input_string = input("Enter a string: ")

# Input the index (n) where you want to insert the word
n = int(input("Enter the index (1-based) where you want to insert the word: "))

# Input the word to insert
word_to_insert = input("Enter the word to insert: ")

# Split the string into words
words = input_string.split()

# Check if the index is valid
if 1 <= n <= len(words) + 1:
    # Insert the word at the specified index
    words.insert(n - 1, word_to_insert)

    # Rejoin the words into a string
    result_string = ' '.join(words)

    print("Modified string:", result_string)
else:
    print("Invalid index. Please enter a valid index.")

Enter a string:  umar
Enter the index (1-based) where you want to insert the word:  1
Enter the word to insert:  a

Modified string: a umar

In [4]:
# Convert a CSV string to a list of lists.

# Input a CSV string
csv_string = input("Enter a CSV string: ")

# Split the CSV string into lines
lines = csv_string.split('\n')

# Initialize a list to store the resulting list of lists
result_list = []

# Iterate through each line and split it into fields
for line in lines:
    if line:
        fields = line.split(',')
        result_list.append(fields)

print("List of lists:")
for row in result_list:
    print(row)

Enter a CSV string:  umar,javed

List of lists:
['umar', 'javed']

List based question

In [6]:
# create a list with integer from 1 to 10
integer = [i for i in range(1,11)]
print(integer)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#  Find the length of a list without using the len() function.

my_list = ["Umar","javed","alpha","beta","gama"]

count = 0

for i in my_list:
 
    count+=1
print(count)

5

In [16]:
# Append an element to the end of a list.

my_list = ["umar","javed"]

new_list = "alpha"

my_list.append(new_list)

print(my_list)

['umar', 'javed', 'alpha']

In [17]:
# Insert an element at a specific index in a list.

my_list = [1,2,3,4,5,6,7,8,9]

new_list = 10

index = 4

my_list.insert(index,new_list)

print(my_list)

[1, 2, 3, 4, 10, 5, 6, 7, 8, 9]

In [18]:
# Remove an element from a list by its value.

my_list = [1,2,3,4,5,6,7,8]

remove_element = 4

my_list.remove(remove_element)

print(my_list)

[1, 2, 3, 5, 6, 7, 8]

In [19]:
# Remove an element from a list by its index.

my_list = [1,2,3,4,5,6,7,8,9]

remove_index = 5

new_list = my_list.pop(remove_index)

print(my_list)

[1, 2, 3, 4, 5, 7, 8, 9]

In [1]:
# Check if an element exists in a list.

my_list = [1,2,3,4,5,6,7,8,9]

check_element = 6

if check_element in my_list:
    print("element exist in my_list is: ",check_element,)
    
else:
    print("element does'nt exist")

element exist in my_list is:  6

In [6]:
# 8. Find the index of the first occurrence of an element in a list.

my_list = [1,2,3,4,5,6,7,8,9]

search_element = 6

index = my_list.index(search_element)

print(f"The index of {search_element} is {index}")

The index of 6 is 5

In [11]:
# 9. Count the occurrences of an element in a list.


my_list = [1,2,3,4,8,6,7,8,9]

count_element = 8

count = my_list.count(count_element)

print(f"the count elemnt {count_element} comes {count} times in the list")

the count elemnt 8 comes 2 times in the list

In [15]:
# Reverse the order of elements in a list

my_list = [10,20,30,40,50,60,70,80,90]

my_list.reverse()

print(my_list)

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [18]:
# Sort a list in ascending order.
    
my_list = [60,30,70,10,50]

my_list.sort()

print("ascending order list",my_list)

ascending order list [10, 30, 50, 60, 70]

In [20]:
# Sort a list in descending order.

my_list = [60,30,70,10,50]

my_list.sort(reverse = True)

print("decending order list",my_list)

decending order list [70, 60, 50, 30, 10]

In [39]:
# Create a list of even numbers from 1 to 20

even_number = list(range(2,21,2))

print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [41]:
# Create a list of odd numbers from 1 to 20.

odd_number = list(range(1,21,2))

print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [48]:
# Find the sum of all elements in a list

my_list = [1,2,3,4,5,6,7,8,9]

sum_of_list = sum(my_list)
print("the sum of my list is: ",sum_of_list)

the sum of my list is:  45

In [51]:
# Find the maximum value in a list.

my_list = [10,20,30,405,60,708,60]

maximum_value = max(my_list)

print("The maximum value in my list is: ", maximum_value)

The maximum value in my list is:  708

In [52]:
# 17. Find the minimum value in a list.

my_list = [10,20,30,405,60,708,60]

minimum_value = min(my_list)

print("The minimum value in my list is: ", minimum_value)

The minimum value in my list is:  10

In [56]:
# Create a list of squares of numbers from 1 to 10.

square_of_list = [x**2 for x in range(1,1)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
import random

random_integers = [random.randint(1, 100) for _ in range(10)]

print("List of random integers:", random_integers)

List of random integers: [56, 88, 60, 16, 39, 63, 59, 16, 50, 47]

In [63]:
 # Remove duplicates from a list.
    
my_list = [10,20,3,10,20,40,50]

new_list = list(set(my_list))

print(new_list)

[3, 40, 10, 50, 20]

In [64]:
# Find the common elements between two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = [x for x in list1 if x in list2]

print(common_elements)

[3, 4, 5]

In [2]:
# Find the difference between two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

different_elements = [x for x in list1 if x not in list2]

print(different_elements)

[1, 2]

In [3]:
# Merge two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

new_list = list1 + list2

print(new_list)

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

In [4]:
# Multiply all elements in a list by 2

my_list = [10,20,30,40,50,60]

multiplied_list = [x*2 for x in my_list]

print(multiplied_list)

[20, 40, 60, 80, 100, 120]

In [5]:
# Filter out all even numbers from a list.

my_list = [2,3,4,5,6,7,8,9]

my_list = [x for x in my_list if x%2 !=0 ]

print(my_list)

[3, 5, 7, 9]

In [6]:
# Convert a list of strings to a list of integers

string_list = ["1","2","3"]

integer_list = [int(x) for x in string_list]

print(integer_list)

[1, 2, 3]

In [7]:
 # Convert a list of integers to a list of strings.
    
integer_list = [1,2,3,4]

string_list = [str(x) for x in integer_list]

print(string_list)

['1', '2', '3', '4']

In [8]:
# Flatten a nested list.

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]


flattened_list = [item for sublist in nested_list for item in sublist]

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
# Create a list of the first 10 Fibonacci numbers

a, b = 0, 1

fibonacci_numbers = []

for _ in range(10):
    fibonacci_numbers.append(a)
    a, b = b, a + b

print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [6]:
# Check if a list is sorted

my_list = [1,2,3,4,5,6,7,8]

sorted_list = True

for i in range(len(my_list)-1):
    if my_list[i] > my_list[i+1]:
        sorted_list = False
        break
if sorted_list:
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [1]:
# Rotate a list to the left by n positions.

my_list = [1, 2, 3, 4, 5]

n = 2

n %= len(my_list) 
my_list = my_list[n:] + my_list[:n]

print("List rotated left by", n, "positions:", my_list)

List rotated left by 2 positions: [3, 4, 5, 1, 2]

In [7]:
# Rotate a list to the right by n positions.

my_list = [1, 2, 3, 4, 5]

n = 2

n %= len(my_list) 
my_list = my_list[-n:] + my_list[:-n]

print("List rotated right by", n, "positions:", my_list)

List rotated right by 2 positions: [4, 5, 1, 2, 3]

In [15]:
# Create a list of prime numbers up to 50.

my_list = []

for num in range(2,51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
            my_list.append(num)
        
print(my_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [16]:
# Split a list into chunks of size n.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

n = 3  

chunks = []

for i in range(0, len(my_list), n):
    chunk = my_list[i:i + n]
    chunks.append(chunk)

print("List split into chunks of size", n, ":", chunks)

List split into chunks of size 3 : [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
# Find the second largest number in a list.

my_list = [1,2,30,40,500,6,7,8,9,]

my_list.sort(reverse = True)

second_largest = my_list[0]

print(second_largest)

500

In [9]:
# Replace every element in a list with its square

my_list = [1,2,3,4,5,6,7,8,9]

squared_list = [x**2 for x in my_list]

print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
# convert a list to a dictionary where list elements become keys and their indices become values.

my_list = ["umar","javed","alpha","beta","gamma"]

my_dict = {element: index for index, element in enumerate(my_list)}

print(my_dict)

{'umar': 0, 'javed': 1, 'alpha': 2, 'beta': 3, 'gamma': 4}

In [14]:
# Shuffle the elements of a list randomly.
import random

my_list = [1,2,3,4,5,6,7,8,9]

random.shuffle(my_list)

print(my_list)

[6, 5, 8, 4, 7, 1, 3, 2, 9]

In [20]:
# Create a list of the first 10 factorial numbers.

factorial_num = [1]

current_factorial = 1

for n in range(1,10):
    current_factorial *= n
    factorial_num.append(current_factorial)
print(factorial_num)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [23]:
# Check if two lists have at least one element in common.

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)
common_elements = set1.intersection(set2)

if common_elements:
    print("The two lists have at least one common element.")
else:
    print("The two lists have no common elements.")

The two lists have at least one common element.

In [26]:
# Remove all elements from a list.

my_list = [1,2,3,4,5,6,7,8,9]

my_list.clear()

print("Empty list:",my_list)

Empty list: []

In [32]:
# Replace negative numbers in a list with 0

my_list = [1,2,-3,4,-5,6,-7,8,-9]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("Modified list:", my_list)

Modified list: [1, 2, 0, 4, 0, 6, 0, 8, 0]

In [34]:
# Convert a string into a list of words

my_string = "Hello, Umar Javed"

list_of_words = my_string.split()

print(list_of_words)

['Hello,', 'Umar', 'Javed']

In [35]:
 # Convert a list of words into a string.

word_list = ['Hello,', 'Umar', 'Javed']

my_string = " ".join(word_list)

print(my_string)

Hello, Umar Javed

In [36]:
 # Create a list of the first n powers of 2.

n = 8

power = [2**i for i in range(n)]

print(power)

[1, 2, 4, 8, 16, 32, 64, 128]

In [40]:
# Find the longest string in a list of strings.

string_list = ["umar","javed","goat","eta","zeta"]

longest_string = ""

for i in string_list:
    if len(i)> len(longest_string):
        longest_string = i
print(longest_string)

javed

In [42]:
# Find the shortest string in a list of strings.

string_list = ["umar","javed","goat","eta","zeta"]

shortest_string = string_list[0]

for i in string_list:
    if len(i)<len(shortest_string):
        shortest_string = i
print(shortest_string)

eta

In [44]:
# Create a list of the first n triangular numbers.

n = 10
triangular_numbers = []

for i in range(1, n + 1):
    triangular_numbers.append(i * (i + 1) // 2)

print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [48]:
# Check if a list contains another list as a subsequence.

list_a = [1, 2, 3, 4, 5, 6]
list_b = [2, 4, 6]

if (item in list_a for item in list_b):
    print("list_b is a subsequence of list_a")
else:
    print("list_b is not a subsequence of list_a")

list_b is a subsequence of list_a

In [49]:
# Swap two elements in a list by their indices.

my_list = [1,2,3,4,5,6]

index1 = 1
index2 = 4

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print(my_list)

[1, 5, 3, 4, 2, 6]

Tuple based problems

In [1]:
# Create a tuple with integers from 1 to 5

tuple_integer = (1,2,3,4,5)

print(tuple_integer)

(1, 2, 3, 4, 5)

In [4]:
# Access the third element of a tuple.

tuple_integer = (1,2,3,4,5,6,7,8,9)

third_integer = tuple_integer[2]

print("third elemnt of tuple is: ",third_integer)

third elemnt of tuple is:  3

In [8]:
# Find the length of a tuple without using the len() function

tuple_integer = (10,20,30,40,50,60)

count = 0

for _ in tuple_integer:
    count +=1
print(count)

6

In [11]:
# Count the occurrences of an element in a tuple.

my_tuple = (10,20,30,20,40,30,50,60,20)

element_to_count = 30

count = 0

for i in my_tuple:
    if i == element_to_count:
        count +=1
print(f"the elemnt {element_to_count} comes {count} times in the tuple")

the elemnt 30 comes 2 times in the tuple

In [12]:
# Find the index of the first occurrence of an element in a tuple.

my_tuple = (10, 20, 30, 40, 50, 20)

element_to_find = 20

index = my_tuple.index(element_to_find)

print("Index of the first occurrence of", element_to_find, "is:", index)

Index of the first occurrence of 20 is: 1

In [13]:
# Check if an element exists in a tuple.

my_tuple = (10,20,30,40,50,60)

element_to_check = 30

if element_to_check in my_tuple:
    print("Element exist in tuple")
else:
    print("Element does not exist in tuple")

Element exist in tuple

In [14]:
# convert a tuple in a list

my_tuple = (1,2,3,4,5,6)

my_list = list(my_tuple)

print(my_list)

[1, 2, 3, 4, 5, 6]

In [16]:
# Convert a list to a tuple.

my_list = [1,2,3,4,5,6,7,8,9]

my_tuple = tuple(my_list)

print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [18]:
# Unpack the elements of a tuple into variables.

my_tuple = (1,2,3,4,5)

var1,var2,var3,var4,var5 = my_tuple

print("var1:",var1)
print("var2:",var2)
print("var3:",var3)

var1: 1
var2: 2
var3: 3

In [20]:
# Create a tuple of even numbers from 1 to 10.

tuple_of_even_num = tuple(x for x in range(1,11) if x%2 ==0)

print(tuple_of_even_num)

(2, 4, 6, 8, 10)

In [23]:
 # Create a tuple of odd numbers from 1 to 10.
    
tuple_of_odd_num = tuple(x for x in range (1,11) if x%2 != 0)

print(tuple_of_odd_num)

(1, 3, 5, 7, 9)

In [24]:
# Concatenate two tuples.

tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)

concatenate_tuple = tuple1 + tuple2

print(concatenate_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

In [26]:
# Repeat a tuple three times.

my_tuple =  (1,2,3,4,5)

repeated_tuple = my_tuple*3

print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [33]:
#  Check if a tuple is empty.

empty_tuple = ()

if not empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [34]:
# Create a nested tuple.

nested_tuple = ((1,2,3),('u','m','a','r'),(True,False))

print(nested_tuple)

((1, 2, 3), ('u', 'm', 'a', 'r'), (True, False))

In [35]:
# Access the first element of a nested tuple.

nested_tuple = ((1,2,3),('u','m','a','r'),(True,False))

first_elemnt = nested_tuple[0]

print(first_elemnt)

(1, 2, 3)

In [36]:
# Create a tuple with a single element.

single_element_tuple = (1,)

print(single_element_tuple)

(1,)

In [37]:
#  compare two tuple

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)


print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [38]:
#  Delete a tuple

my_tuple = (1,2,3,4,5,6)

del my_tuple

print(my_tuple)

NameError: name 'my_tuple' is not defined

In [40]:
#  slice a tuple

my_tuple = (1,2,3,4,5,6,7,8,9)

sliced_tuple = my_tuple[3:7]

print(sliced_tuple)

(4, 5, 6, 7)

In [41]:
# Find the maximum value in a tuple.

my_tuple = (10,20,30,50,400,200)

max_value = max(my_tuple)

print(max_value)

400

In [42]:
# Find the minimum value in a tuple.

my_tuple = (10,20,30,50,400,200)

min_value = min(my_tuple)

print(min_value)

10

In [43]:
# convert a string to a tuple of character

my_string = "umar javed"

tuple_of_charcter = tuple(my_string)

print(tuple_of_charcter)

('u', 'm', 'a', 'r', ' ', 'j', 'a', 'v', 'e', 'd')

In [45]:
# Convert a tuple of characters to a string.

tuple_of_character = ('u', 'm', 'a', 'r', ' ', 'j', 'a', 'v', 'e', 'd')

string_from_tuple = "".join(tuple_of_character)

print(string_from_tuple)

umar javed

In [46]:
# Create a tuple from multiple data types.

mixed_tuple = (1, "hello", 3.14, True)

print(mixed_tuple)

(1, 'hello', 3.14, True)

In [47]:
# Check if two tuples are identical.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [48]:
# Sort the elements of a tuple.

my_tuple = (2,5,1,6,8,4,9)

sorted_tuple = tuple(sorted(my_tuple))

print(sorted_tuple)

(1, 2, 4, 5, 6, 8, 9)

In [49]:
# Convert a tuple of integers to a tuple of strings.

tuple_of_integer = (1,2,3,4,5)

tuple_of_string = tuple(str(i) for i in tuple_of_integer)

print(tuple_of_string)

('1', '2', '3', '4', '5')

In [51]:
#  Convert a tuple of strings to a tuple of integers.

tuple_of_string = ('1','2','3','4','5')

tuple_of_integer = tuple(int(i) for i in tuple_of_string)

print(tuple_of_integer)

(1, 2, 3, 4, 5)

In [52]:
#  Merge two tuples

tuple1 =(1,2,3,4,5)
tuple2 = (6,7,8,9,0)

merged_tuple = tuple1 + tuple2

print(merged_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [2]:
# Flatten a nested tuple.

nested_tuple = (1, (2, 3),(4,5, 6))

flattened_list = []

for item in nested_tuple:
    if isinstance(item, tuple):
        for sub_item in item:
            flattened_list.append(sub_item)
    else:
        flattened_list.append(item)

flattened_tuple = tuple(flattened_list)

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6)

In [3]:
# Create a tuple of the first 5 prime numbers.

prime_numbers = (2, 3, 5, 7, 11)

print("Tuple of the first 5 prime numbers:", prime_numbers)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [5]:
# Check if a tuple is a palindrome

my_tuple = (1,2,3,2,1)

if my_tuple == my_tuple[::-1]:
    print("tuple is pallindrome: ",my_tuple)
else:
    print("tuple is not pallindrome",my_tuple)

tuple is pallindrome:  (1, 2, 3, 2, 1)

In [7]:
# Create a tuple of squares of numbers from 1 to 5.
 
my_tuple = tuple(x**2 for x in range(1,6))
            
print(my_tuple)

(1, 4, 9, 16, 25)

In [9]:
# Filter out all even numbers from a tuple.
    
my_tuple = (1,2,3,4,5,6,7,8,9)

even_tuple = tuple(x for x in my_tuple if x%2 == 0)

print(even_tuple)

(2, 4, 6, 8)

In [11]:
# Multiply all elements in a tuple by 2.

my_tuple = (1,2,3,4,5,6,7,8,9)

new_element = tuple(x**2 for x in my_tuple)

print(new_element)

(1, 4, 9, 16, 25, 36, 49, 64, 81)

In [13]:
# Create a tuple of random numbers.

import random

random_tuple = tuple(random.randint(1, 100) for _ in range(10)) 

print(random_tuple)

(61, 63, 34, 61, 61, 79, 33, 46, 75, 23)

In [14]:
# Check if a tuple is sorted

my_tuple = (1, 2, 3, 2, 4)

is_sorted = True

for i in range(len(my_tuple) - 1):
    if my_tuple[i] > my_tuple[i + 1]:
        is_sorted = False
        break
if is_sorted:
    print("The tuple is sorted in ascending order.")
else:
    print("The tuple is not sorted in ascending order.")

The tuple is not sorted in ascending order.

In [21]:
# Rotate a tuple to the left by n positions.

my_tuple = (1, 2, 3, 4, 5)

n = 2

n %= len(my_tuple) 
my_tuple = my_tuple[n:] + my_tuple[:n]

print("tuple rotated left by", n, "positions:", my_tuple)

tuple rotated left by 2 positions: (3, 4, 5, 1, 2)

In [2]:
# Rotate a tuple to the right by `n` positions.

my_tuple = (1, 2, 3, 4, 5)

n = 2

n %= len(my_tuple) 
my_tuple = my_tuple[-n:] + my_tuple[:-n]

print("tuple rotated right by", n, "positions:", my_tuple)

tuple rotated right by 2 positions: (4, 5, 1, 2, 3)

In [2]:
# Create a tuple of the first 5 Fibonacci numbers.

fibonacci_tuple = (0, 1)

for i in range(2, 5):
    next_fibonacci = fibonacci_tuple[i - 1] + fibonacci_tuple[i - 2]
    fibonacci_tuple += (next_fibonacci,)

print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [3]:
# Create a tuple from user input.

user_input = input("Enter your tuple")
print(user_input)

Enter your tuple 1,2,3,4,5

1,2,3,4,5

In [12]:
 # Swap two elements in a tuple

my_tuple = (1,2,3,4,5,6,7)

my_list = list(my_tuple)

my_list[1], my_list[3] = my_list[3], my_list[1]

my_tuple = tuple(my_list)

print("Updated tuple:", my_tuple)

Updated tuple: (1, 4, 3, 2, 5, 6, 7)

In [13]:
# Reverse the elements of a tuple.

my_tuple = (1,2,3,4,5)

reversed_tuple = my_tuple[::-1]

print(reversed_tuple)

(5, 4, 3, 2, 1)

In [17]:
# Create a tuple of the first `n` powers of 2.

n = 5

my_tuple = tuple(2** i for i in range(n))

print(my_tuple)

(1, 2, 4, 8, 16)

In [20]:
# Find the longest string in a tuple of strings.

my_string = ("umar","javed","alpha")

longest_string = max(my_string,key = len)

print(longest_string)

javed

In [22]:
# Find the shortest string in a tuple of strings.

my_string = ("umar","javed","alpha")

shortest_string = min(my_string,key = len)

print(shortest_string)

umar

In [24]:
 # Create a tuple of the first n triangular number
n = 5

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [25]:
# Check if a tuple contains another tuple as a subsequence.

main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (3, 4, 5)

main_str = str(main_tuple)
sub_str = str(sub_tuple)

if sub_str in main_str:
    print("sub_tuple is a subsequence of main_tuple.")
else:
    print("sub_tuple is not a subsequence of main_tuple.")

sub_tuple is not a subsequence of main_tuple.

In [26]:
# Create a tuple of alternating 1s and 0s of length n.

n = 10

alternating_tuple = tuple(i % 2 for i in range(n))

print("alternating tuple of 0s and 1s are:",alternating_tuple)

alternating tuple of 0s and 1s are: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set based problems

In [28]:
# Create a set with integers from 1 to 5

my_set = set(range(1, 6))

print(my_set)

{1, 2, 3, 4, 5}

In [29]:

# Add an element to a set

my_set = {1,2,3,4,5}

my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5, 6}

In [30]:
# Remove an element from a set.

my_set = {1,2,3,4,5}

my_set.remove(4)

print(my_set)

{1, 2, 3, 5}

In [34]:
# Check if an element exists in a set.

my_set = {1,2,3,4,5,6,7,8,9}

element_to_check = 5

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

5 exists in the set.

In [36]:
# Find the length of a set without using the len() function

my_set = {1,2,3,4,5,6}

count = 0

for _ in my_set:
    count +=1
print(count)

6

In [37]:
# Clear all elements from a set.

my_set = {1,2,3,4,5,6,7,8,9}

my_set.clear()

print(my_set)

set()

In [38]:
 # Create a set of even numbers from 1 to 10

even_number_set = set()

for i in range(1,11):
    if i % 2 == 0:
        even_number_set.add(i)
print(even_number_set)

{2, 4, 6, 8, 10}

In [40]:
# Create a set of odd numbers from 1 to 10

odd_number_set = set()

for i in range(1,11):
    if i % 2 != 0:
        odd_number_set.add(i)
print(odd_number_set)

{1, 3, 5, 7, 9}

In [42]:
# Find the union of two sets

set1 ={1,2,3,4}
set2 = {5,6,7,8}

union_of_set = set1.union(set2)

print(union_of_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [45]:
 # Find the intersection of two sets
    
set1 ={1,2,3,4}
set2 = {3,4,7,8}

intersection_of_set = set1 or(set2)

print(intersection_of_set)

{1, 2, 3, 4}

In [48]:
# Find the difference between two sets.

set1 ={1,2,3,4}
set2 = {3,4,7,8}

difference_of_sets = set1- set2

print(difference_of_sets)

{1, 2}

In [53]:
# Check if a set is a subset of another set.

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

print("set1 is a subset of set2: " ,is_subset)

set1 is a subset of set2:  True

In [55]:
 # Check if a set is a superset of another set.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_superset = set1.issuperset(set2)

print("set1 is a superset of set2: " ,is_superset)

set1 is a superset of set2:  False

In [1]:
# Create a set from a list

my_list = [2, 4, 1, 4, 3, 2, 5]

my_set = set(my_list)

print("Set from List:", my_set)

Set from List: {1, 2, 3, 4, 5}

In [2]:
# Convert a set to a list.
    
my_set = {2, 4, 1, 4, 3, 2, 5}

my_list = list(my_set)

print("Set from List:", my_list)

Set from List: [1, 2, 3, 4, 5]

In [9]:
#  Remove a random element from a set.
import random

my_set = {1,2,3,4,5,6,7}

random_element = random.choice(list(my_set))

my_set.remove(random_element)

print(my_set)

{1, 2, 3, 5, 6, 7}

In [11]:
# Pop an element from a set.

my_set = {1,2,3,4,5,6,7,8,9}

my_set.pop()

print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
# Check if two sets have no elements in common.

set1 ={1,2,3,4}
set2 = {3,4,7,8}

common_element = set1 or(set2)

if not common_element:
    print("there is no common elemnt in a set")
else:
    print("there is a common element")

there is a common element

In [14]:
# Find the symmetric difference between two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference = set1 ^ set2

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [16]:
# Update a set with elements from another set.

set1 = {1,2,3,4,5}
set2 = {6,7,8,9}

set1.update(set2)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
# Create a set of the first 5 prime numbers
    
set_of_prime_number = {2,3,5,7,11}

print(set_of_prime_number)

{2, 3, 5, 7, 11}

In [19]:
# Check if two sets are identical.

set1 = {1,2,3,4,5}
set2 = {4,5,8,9}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are not identical.

In [20]:
# Create a frozen set

my_list = [1,2,3,4,5,6,7,8,9]

frozen_set = frozenset(my_list)

print(frozen_set)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [22]:
#  Check if a set is disjoint with another set.

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

disjoint_element = set1.isdisjoint(set2)

print(disjoint_element)

True

In [23]:
# Create a set of squares of numbers from 1 to 5.

squares_set = {x**2 for x in range(1, 6)}

print(squares_set)

{1, 4, 9, 16, 25}

In [26]:
#  Filter out all even numbers from a set.

my_set = {1,2,3,4,5,6,7,8,9}

filtered_set = {x for x in my_set if x%2 != 0}

print(filtered_set)

{1, 3, 5, 7, 9}

In [29]:
# Multiply all elements in a set by 2.

my_set = {1,2,3,4,5}

new_set = {x * 2 for x in  my_set}

print(new_set)

{2, 4, 6, 8, 10}

In [30]:
# Create a set of random numbers.

import random

random_set = {random.randint(1, 100) for _ in range(5)}

print(random_set)

{65, 37, 47, 53, 61}

In [31]:
# Check if a set is empty.

my_set = {}

if not my_set:
    print("set is empty")
else:
    print("set is not empty")

set is empty

In [33]:
#  Create a nested set (hint: use frozenset).

set1 = frozenset([1, 2, 3])
set2 = frozenset([4, 5, 6])

nested_set = {set1, set2}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [38]:
# Remove an element from a set using the discard method.

my_set  = {1,2,3,4,5}

element_to_remove = 4
my_set.discard(element_to_remove)

print(my_set)

{1, 2, 3, 5}

In [39]:
#  Compare two sets

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [41]:
# Create a set from a string.

my_string = "umar"

my_set = set(my_string)

print(my_set)

{'a', 'u', 'r', 'm'}

In [43]:
# Convert a set of strings to a set of integers.

string_set = {"123", "456", "789"}

integer_set = set()

for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)

print("Converted Integer Set:", integer_set)

Converted Integer Set: {456, 123, 789}

In [4]:
# Convert a set of integers to a set of strings.

integer_set = {1,2,3,4,5}

string_set = set()

for integer in integer_set:
    string_value = str(integer)
    string_set.add(string_value)

print("Converted string Set:", string_set)

Converted string Set: {'4', '2', '3', '1', '5'}

In [5]:
# Create a set from a tuple.


my_tuple = (1,2,3,4,5)

tuple_to_set = set(my_tuple)

print(tuple_to_set)

{1, 2, 3, 4, 5}

In [1]:
# Convert a set to a tuple

my_set = {1,2,3,4,5}

tuple_set = tuple(my_set)

print(tuple_set)

(1, 2, 3, 4, 5)

In [6]:
# Find the maximum value in a set.

my_set = {10,20,30,40,50}

maximum_value = max(my_set)

print(maximum_value)

50

In [2]:
#  Find the minimum value in a set.

my_set = {10,20,30,40,50}

minimum_value = min(my_set)

print(minimum_value)

10

In [7]:
# Create a set from user input.

input_str = input("Enter elements separated by spaces: ")

input_list = input_str.split()

user_set = set(input_list)

print("User set:", user_set)

Enter elements separated by spaces:  1 2 3 4 5

User set: {'4', '2', '3', '1', '5'}

In [8]:
# Check if the intersection of two sets is empty.

set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is empty.

In [9]:
# Create a set of the first 5 Fibonacci numbers

fibonacci_set = set()

a, b = 0, 1

for _ in range(6):

    fibonacci_set.add(a)

    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [10]:
# Remove duplicates from a list using sets.

my_list = [1, 2, 2, 3, 4, 4, 5]

my_list = list(set(my_list))

print(my_list)

[1, 2, 3, 4, 5]

In [11]:
# Check if two sets have the same elements, regardless of their count.

set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [12]:
# Create a set of the first n powers of 2

n = 5 

powers_of_2_set = {2 ** i for i in range(n)}

print(powers_of_2_set)

{1, 2, 4, 8, 16}

In [14]:
#  Find the common elements between a set and a list.

my_set = {1, 2, 3, 4, 5}

my_list = [3, 4, 5, 6, 7]

common_elements_method = my_set.intersection(my_list)

print("Common elements:", common_elements_method)

Common elements: {3, 4, 5}

In [15]:
# Create a set of the first n triangular numbers.

n = 5  
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

print(triangular_numbers_set)

{1, 3, 6, 10, 15}

In [16]:
# Check if a set contains another set as a subset.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [18]:
# . Create a set of alternating 1s and 0s of length n

n = 10

alternating_set = set(i % 2 for i in range(n))

print("alternating set of 0s and 1s are:",alternating_set)

alternating tuple of 0s and 1s are: {0, 1}

In [19]:
# Merge multiple sets into one.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}